<div class= "cards">
<h1><%= @user.first_name %></h1>
<h1><%= @user.last_name %></h1>
</div>

<h1 class= "card-category"><%= "MES OBJETS DE LEGENDE" %></h1>
<div class= "cards-container">
  <% @legends.each do |legend| %>
    <div class= "card-product">
    <%# IMAGE A AJOUTER %>
      <h4>OBJET : <%= legend.name %></h4>
      <p>DESCRIPTION : <%= legend.description %></p>
      <p>CATEGORIE : <%= legend.category %></p>
      <p>PRICE : <%= legend.price %>€</p>
    </div>
  <% end %>
</div>

<h1 class= "card-category"><%= "MES RESERVATIONS" %></h1>
<div class= "cards-container">
  <% @reservations.each do |reservation| %>
    <div class= "card-product">
      <h4><%= reservation.legend.name %> (Propriétaire : <%= reservation.legend.user.first_name %> <%= reservation.legend.user.last_name %>)</h4>
      <p> date de <%= reservation.starting_date %></p>
      <p><%= reservation.ending_date %></p>
    </div>
  <% end %>
</div>
