


<div class= "card-category header-dash">
  <h1><%= @user.first_name.capitalize %> <%= @user.last_name.upcase %></h1>
  <h2></h2>
  <h3><%= @user.email %></h3>
</div>

<div class="container-md">
  <div class="titles-dashboard">
    <h1 class="display-5"><%= "MES OBJETS DE LEGENDE" %></h1>
  </div>

    <div class="proprio-legends">
      <div>
        <% @legends.each do |legend| %>
          <div class= "cards-legend-container">
            <div>
              <%= link_to legend_path(legend), class: "card-legends-dashboard" do %>
                <%= cl_image_tag legend.photos.last.key, height: 300, width: 400, crop: :fill %>
                <div class= "card-legends-index-infos">
                  <h2><%= legend.name %></h2>
                  <p>
                    <%= legend.category %> <br>
                    <%= legend.description %>
                    <%= legend.price %> €/jour
                  </p>
                </div>
              <% end %>
              <div class="btn-delete-dashboard">
                <%= link_to legend_path(legend), data: {turbo_method: :delete, turbo_confirm: "Are you really really really sure ????"} do %>
                  <i class="fa-solid fa-trash" style="color: #000000;"></i>
                  Delete
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class= "cards-resa-dashboard">
        <div class="cards-resa-dashboard-infos">
          <% @legends.each do |legend| %>
            <% legend.reservations.each do |reservation| %>
              <%= cl_image_tag reservation.legend.photos.last.key %>
              <div>
                <p><%= reservation.legend.name %></p>
                <p>Du <%= reservation.starting_date %> Au <%= reservation.ending_date %></p>
                <% if reservation.status == "pending" %>
                  <%= link_to "ok", update_status_reservation_path(reservation, reservation: {status: "confirmed"}), data:{turbo_method: :patch} %>
                  <i class="fa-solid fa-check"></i>
                  <%= link_to "Décliner", update_status_reservation_path(reservation, reservation: {status: "declined"}), data:{turbo_method: :patch} %>
                  <i class="fa-solid fa-xmark" style="color: #ef0b0b;"></i>
                <% elsif reservation.status == "confirmed" %>
                  <p>Acceptée</p>
                <% elsif reservation.status == "declined" %>
                  <p>Déclinée</p>
                <% elsif reservation.status == "canceled" %>
                  <p>Annulée</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>






  <div class= "titles-dashboard">
    <h1 class="display-5"><%= "MES RESERVATIONS" %></h1>
  </div>
      <div class="proprio-legends">
          <% @reservations.each do |reservation| %>
            <div class= "cards-legend-container">
                <%= link_to legend_path(reservation.legend), class: "card-legends-dashboard" do %>
                <%= cl_image_tag reservation.legend.photos.last.key, height: 300, width: 400, crop: :fill %>
                <div class= "card-legends-index-infos">
                  <h2><%= reservation.legend.name %> (Propriétaire : <%= reservation.legend.user.first_name.capitalize %> <%= reservation.legend.user.last_name.capitalize %>)</h2>
                  <p> Demande du <%= reservation.starting_date %> au <%= reservation.ending_date %></p>
                  <% if reservation.status == "pending" %>
                  <p>Votre demande est : En attente</p>
                  <% elsif reservation.status == "confirmed" %>
                  <p>Votre demande est : Acceptée </p>
                  <% elsif reservation.status == "declined" %>
                  <p>Votre demande est : Refusée </p>
                  <% elsif reservation.status == "canceled" %>
                  <p>Votre demande est : Annulée </p>
                <% end %>
                </div>
                <% end %>
            </div>
          <% end %>
      </div>
</div>
