<h2>Reservation Show <%= @reservation.id %></h2>
<div>
<ul>
  <li><%= @reservation.legend.name %></li>
  <li><%= @reservation.user.first_name %></li>
  <li><%= @reservation.user.last_name %></li>
  <li><%= @reservation.starting_date %></li>
  <li><%= @reservation.ending_date %></li>
</ul>
</div>
