<ul>
  <% @legends.each do |legend| %>
  <%= render "shared/search_bar" %>
    <div class="card">
      <li>
        <%= link_to legend.name, legend_path(legend) %>
      </li>
      <li><%= legend.category %></li>
      <li><%= legend.description %></li>
      <li><%= legend.price %></li>
    </div>
  <% end %>
</ul>
