
<div class="main-container">
  <div>
    <div class="cards_3">
      <%= cl_image_tag @legend.photos.last.key %>
    </div>

<%# redimensionner les images des cards %>

    <div class="cards_2">
      <div class="cards_2_trips">
        <h2><%= @legend.name %></h2>
        <hr>
        <p><%= @legend.description %></p>
        <hr>
        <p><%= @legend.price %>€/jour</p>
        <hr>
        <p><%= @legend.category %></p>
      </div>
    </div>
  </div>


  <%# coller un stickit dessus afni quelle suive le mouvement de la page %>
    <div class="card-trip" data-controller="total-resa" data-price = "<%=@legend.price %>">
      <div class="card-trip-infos">
        <%= simple_form_for @reservation do |f| %>
          <div class="form-inputs">
            <h2>Book this legend</h2>
            <%= f.input :starting_date,html5:true, input_html: {data:{total_resa_target:"start",action:"input->total-resa#calculate"} } %>
            <%= f.input :ending_date,html5:true, input_html: {data:{total_resa_target:"end",action:"input->total-resa#calculate"} } %>
            <%= f.hidden_field :legend_id, value: @legend.id %>
        <p data-total-resa-target="total"></p><br>
          </div>
            <div class="form-actions" id="btn-gradient">
            <%= f.button :submit, "Book !" %>
          </div>
          <div id="warning">Attention : l’app n’est pas responsable juridiquement en cas de destruction d’immeuble ou de l’univers.  </div>
        <% end %>
      </div>
      </div>
    </div>

</div>

<%# voir ce que vont devenir le bouton delete et le bouton retour %>
<%# <%= link_to "Back to the list", legends_path %>
<%# <p><%= link_to "Delete", %>
<%# legend_path(@legend), %>
<%# data: {turbo_method: :delete, turbo_confirm: "Are you really really really sure ????"} %>
 <%# </p> %>
